<section
      id="sobre-mi"
      data-section="sobre-mi"
      class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
    >
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <svg
          class="size-8"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
            d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"
          ></path></svg
        >
        Sobre mí
      </h2>
      <article
        class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
      >
        <div
          class="[&>p]:mb-4 [&>p>strong]:text-violet-700 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-semibold [&>p>strong]:font-mono text-pretty order-2 md:order-1"
        >
          <p>
            Me llamo Carlos Sanchez. Mi interés por la programación comenzó desde que empecé a experimentar con tecnología como parte de mi formación en Ingeniería en Sistemas.
            Recientemente he completado con éxito mi proyecto de grado titulado<strong class="font-bold"
              > Desarrollo de un Prototipo de IoT para Medir Variables Ambientales</strong
            >.
          </p>
          <p>
            Aunque aún estoy esperando mi fecha de graduación como Ingeniero en Sistemas, estoy completamente dedicado a buscar oportunidades laborales que me permitan aplicar mis habilidades y conocimientos adquiridos durante mi formación académica.
          </p>

          <p>
            Estoy abierto a asumir nuevos desafíos y estoy dispuesto a trabajar arduamente para desarrollarme profesionalmente. 
            <strong>Mi enfoque</strong> se centra en contribuir de manera significativa al crecimiento y éxito de la organización donde pueda colaborar, 
            demostrando mi compromiso y dedicación en cada tarea que se me asigne.
          </p>
        </div>
        <img
          width="200"
          height="200"
          src="https://avatars.githubusercontent.com/u/105553158?v=4"
          alt="Carlos Sanchez"
          class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
          style="object-position: 50% 50%"
        />
      </article>
    </section>